@font-face {
    font-family: 'Mono';
    src: url('https://blckunicorn.art/assets/fonts/Mono.ttf') format('truetpye');
}

$stdFont: monospace;
$mainColor: #000000;
$accentColor: #FFFFFF;

html, body {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
    color: $mainColor;
    font-family: $stdFont;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

input {
    display: block;
    width: 60%;
    border: 3px solid $mainColor;
    font-size: 40px;
    color: $mainColor;
    background-color: $accentColor;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: $stdFont;
    padding: 10px;
    text-align: left;
}

input:focus {
    outline: none;
}

button {
    display: block;
    width: 62%;
    border: 3px solid $mainColor;
    font-size: 30px;
    color: $mainColor;
    background-color: $accentColor;
    border-radius: 15px;
    margin: 0 auto;
    font-family: $stdFont;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    transition-duration: 0.6s;
    text-align: center;
}

button:hover {
    padding: 15px;
}

p {
    display: block;
    width: 60%;
    border: 3px solid $mainColor;
    font-size: 30px;
    color: $mainColor;
    background-color: $accentColor;
    border-radius: 15px;
    font-family: $stdFont;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 800px){
    button {
        width: 64%;
    }
    h1 {
        font-size: 30px;
    }
}